<% include ../partials/header %>

  <div class="jumbotron mb-0 " id="fool">
  <blockquote class="blockquote">
  <h1 class="mb-0">Don't fool me around </br>with a fake PW</br>Go to <a href="/">home</a> and do it again!</h1></br>
  <footer class="blockquote-footer">Zheng</footer></footer>
  </blockquote>
  </div>
  
<% include ../partials/footer %>