<% include ../partials/header %>
<div id="garden">
    <h1 id="garden-text">Garden is coming very soon!</br>Go to <a href="/">homepage</a> to see other features</h1>
</div>
<% include ../partials/footer %>
