<% include ../partials/header %>
<div class="front">
  <h1 class="title2">Welcome to Zheng's Garden</h1>
  <a class="btn btn-dark" href="/garden">Explore</a>
</div>

<div class="spring">
<div class="container">
  <h1>My Profile</h1>
  <h3>Which part you want to know me?</h3>
  <p>  </p>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1528569937393-ee892b976859?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">My Past</h2>
          <p class="card-text">A little biography I wrote for myself, in case one day I became really really famous...I mean, who knows? (LOL)</p>
          <a class="buttons" href="/past" role="button"><div class="far fa-arrow-alt-circle-right"></div></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1456081101716-74e616ab23d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">My Skills</h2>
          <p class="card-text">See how I mastered several languages, digital marketing tools, and web developemnt skills...</p>
          <a class="buttons" href="/skills" role="button"><div class="far fa-arrow-alt-circle-right"></div></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">My Journey</h2>
          <p class="card-text">From China to California, Japan to France, See how my journey brings me a brand new life!</p>
          <a  class="buttons" href="/journey" role="button"><div class="far fa-arrow-alt-circle-right"></div></a>
        </div>
      </div>
    </div>
  </div>  
</div>
</div>

<div class="back">
  <h1 class="title1">WONDER LAND</h1>
  <p class="para">The most exciting moments I've ever created in my life</p>
  <p class="para">Closet of Memory & Immagination</p>
  <p class="para">Past to Future</p>
  <a href="/wonderland" class="btn btn-info" style="background-color: #37ADFA; border:none; font-family: 'Indie Flower', cursive;">Discover</a></div>
	
<div class = "end">
  <h1 class="continued">To be continued</h1>
  <div class="socialicons">
    <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=558700697937201&extra_1=s%7Cc%7C318719743672%7Ce%7Cfacebook%7C&placement=&creative=318719743672&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1654945421%26adgroupid%3D69104018368%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D1t1%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D9056021%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=EAIaIQobChMI-trqmKXZ3wIVhjLTCh1B8g5TEAAYASAAEgL15fD_BwE" style="color:black;"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.weibo.com/2535100520/profile?topnav=1&wvr=6&is_all=1" style="color:black;"><i class="fab fa-weibo"></i></a>
    <a href="https://www.instagram.com/zhengwen_7" style="color:black;"><i class="fab fa-instagram"></i></a>
  </div>
  
  </div>
<% include ../partials/footer %>