<% include ../partials/header %>

  <div class="jumbotron mb-0" id="journey">
  <blockquote class="blockquote">
  <h1 class="mb-0">Journey is not ready</br>Want a template? Go to <a href="/skills">my skills</a></h1></br>
  <footer class="blockquote-footer">Zheng</footer></footer>
  </blockquote>
  </div>
  
<% include ../partials/footer %>