<% include ../partials/header %>

  <div class="jumbotron mb-0 " id="fool">
  <blockquote class="blockquote">
  <h1 class="mb-0"><(￣︶￣)></br>You need to login <i class="fas fa-user-plus"></i></br> to see my garden</h1></br>
  <footer class="blockquote-footer">Zheng</footer></footer>
  </blockquote>
  </div>
  
<% include ../partials/footer %>