<% include ../partials/header %>

  <div class="jumbotron mb-0 " id="skills" >
  <blockquote class="blockquote">
  <h1 class="mb-0">This world is eating idiots</br>So please, be smart</h1></br>
  <footer class="blockquote-footer">Rick</footer>
  </blockquote>
  </div>
 <div class="wall"> 
  <div class="languages row">
    <div class="col-md-3 col-sm-6">
      <i class="fas fa-book"></i>
      <h1>LANG-</br>UAGES</h1>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="https://images.unsplash.com/photo-1522850959516-58f958dde2c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1605&q=80" class="img-thumbnail">
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="https://images.unsplash.com/photo-1518798495352-92ac911fc5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img-thumbnail">
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="https://images.unsplash.com/photo-1522582324369-2dfc36bd9275?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img-thumbnail">
    </div>
  </div>
  <div class="skills row">
    <div class="col-md-3 col-sm-6">
      <i class="fas fa-laptop"></i>
      <h1>CUTTING-EDGE</br>SKILLS</h1>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="https://images.unsplash.com/photo-1501772529219-ed0014f5032c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img-thumbnail">
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="https://images.unsplash.com/photo-1529071242804-840f9a164b8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img-thumbnail">
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="https://images.unsplash.com/photo-1477244075012-5cc28286e465?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img-thumbnail">
    </div>
  </div>

</div>

<% include ../partials/footer %>