<% include ../partials/header %>

  <div class="jumbotron mb-0 " id="wonderland">
  <blockquote class="blockquote" style="color:#696969;">
  <h1>Sorry!</h1><h2>Wonderland is under building for this moment...</h2></br>
  <footer class="blockquote-footer">Zheng</footer></footer>
  </blockquote>
  </div>
  
<% include ../partials/footer %>